@media only screen and (max-width: 500px) {
  .body {
    background-color: rgba(0, 157, 255, 0.683);
  }
}

@media only screen and (min-width: 501px) and (max-width: 960px) {
  .body {
    background-color: rgba(11, 60, 166, 0.829);
  }
}

@media only screen and (max-width: 1192px) {
  .body {
    background-color: rgba(14, 93, 218, 0.646);
  }
}

@font-face {
  font-family: "roboto-general";
  src: url(../multimedia/fonts/Dosis.zip);
}

.body {
  font-family: "roboto-general";
}
.fondo-pagina {
  background-image: url(img/jordans.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#colorazul {
  color: blue;
}

img.listaordenada {
  background-color: rgba(20, 78, 172, 0.212);

  * {
    margin: 0;
    padding: 0;
  }
}

.photo-producto {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.ig-item {
  width: 80px;
  height: 80px;
}

.tiktok-item {
  width: 80px;
  height: 80px;
}
.wsp-item {
  width: 80px;
  height: 80px;
}

.redessociales {
  position: absolute;
  top: 800px;
  width: 200px;
  left: 900px;
  z-index: -1;
  display: flex;
justify-content: center;}

.caja-item {
  border: 3px solid black;
  padding: 40px;
  display: flex;
  justify-content: center;
}

.mapa{
    height: 200px;
    display: flex;
justify-content: center;
}